<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Thư viện hình ảnh</h1></div>

    <div class="pagenation">&nbsp;<%= link_to "Trang chủ", root_path %> <i>/</i> <a href="#">Thư viện</a> <i>/</i> Hình ảnh</div>

  </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="container">
<br /><br /><br />

<div id="grid-container" class="cbp-l-grid-fullScreen">

<ul>
<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/1.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Tinh vân Orion (Lạp Hộ)</div>
            <div class="cbp-l-caption-desc">Tinh vân Orion là tinh vân phát xạ có vị trí biểu kiến nằm trong chòm sao Lạp Hộ,
              được hình thành từ hàng ngàn ngôi sao trong một đám mây bụi khí rất lớn, nó cách Trái Đất khoảng 1300 năm ánh sáng.
              Đây là một trong những tinh vân sáng nhất có thể nhìn thấy bằng mắt thường nhờ cấp sao biểu kiến.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2006001a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/1.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Tinh vân Orion"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/2.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Tinh vân Mắt Mèo</div>
            <div class="cbp-l-caption-desc">
              Tinh vân Mắt Mèo là một trong những tinh vân có cấu trúc phức tạp nhất trong chòm sao Thiên Long
              và là tinh vân hành tinh đầu tiên có quang phổ được quan sát.
              Dài khoảng 3000 năm ánh sáng, tinh vân Mắt Mèo sinh ra từ một ngôi sao đã chết khi nó phóng ra khí ga.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2004027a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/2.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Tinh vân Mắt Mèo"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/3.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Tinh vân Con Cua</div>
            <div class="cbp-l-caption-desc">Tinh vân Con Cua là một tinh vân gió sao xung trong chòm sao Kim Ngưu,
              đồng thời là tàn tích của siêu tân tinh Thiên Quan khách tinh SN 1054.
              Là nguồn sáng bền vững có cường độ mạnh nhất trên bầu trời, nó nằm ở khoảng cách khoảng 6.500 năm ánh sáng từ Trái Đất.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2005037a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/3.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Tinh vân Con Cua"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/4.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Thiên hà xoắn ốc M74</div>
            <div class="cbp-l-caption-desc">
              Messier 74 là một thiên hà xoắn ốc trong chòm sao Song Ngư chứa một đĩa phẳng, quay gồm các sao, khí và bụi, và một vùng tập trung rất nhiều ngôi sao tại trung tâm thiên hà.
              M74 có các cấu trúc nhánh xoắn ốc (thường là hai nhánh) mở rộng từ tâm ra đĩa thiên hà.
              Nó nằm ở khoảng cách khoảng 32 triệu năm ánh sáng từ Trái Đất.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2007041a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/4.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Thiên hà xoắn ốc M74"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/5.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Thiên hà bùng nổ sao M82</div>
            <div class="cbp-l-caption-desc">
              Messier 82 một thiên hà vô định hình, nơi đang diễn ra quá trình nổ sao – tạo sao rất mãnh liệt.
              M82 nằm ở khoảng 12 triệu năm ánh sáng và nằm trong chòm sao Gấu Lớn.
              Nó là thiên hà sáng nhất trên bầu trời dưới ánh sáng hồng ngoại.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2006014a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/5.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Thiên hà bùng nổ sao M82"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/6.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Cụm sao trong tinh vân Nhện Tarantula</div>
            <div class="cbp-l-caption-desc">Bên trong tinh vân Nhện Tarantula là một cụm sao sáng với những ngôi sao khổng lồ rực rỡ, cụm sao Hodge 301.
              Cụm sao nằm khoảng 168.000 năm ánh sáng, trong một quỹ đạo của thiên hà vệ tinh Đám Mây Magellan Lớn.
              Cụm sao nằm ở góc dưới bên phải, đang thổi vật chất từ một siêu tân tinh vào tinh vân này.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr1999012a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/6.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Cụm sao trong tinh vân Nhện Tarantula"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/7.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Trụ cột trong Tinh vân Carina</div>
            <div class="cbp-l-caption-desc">
              Tinh vân Carina nằm trong Chòm sao Thuyền Đế là một tinh vân khuếch tán lớn nhất bao quanh một số cụm sao.
              Tinh vân nằm trong khoảng giữa cách Trái Đất 6.500 - 10.000 năm ánh sáng.
              Trong hình là một ngọn núi ngập trong khí và bụi cho thấy các luồng phun khí được phát ra từ các ngôi sao trẻ bên trong trụ cột.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2009025i/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/7.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Trụ cột trong Tinh vân Carina"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/8.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Cụm sao trong Tinh vân NGC 3603</div>
            <div class="cbp-l-caption-desc">
              Hàng ngàn ngôi sao trẻ sáng như đốm lửa nép mình bên trong tinh vân khổng lồ NGC 3603.
              NGC 3603 là một vùng hình thành sao nổi bật trong chòm sao Carina của Ngân Hà, cách Trái Đất khoảng 20,000 năm ánh sáng.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2007034b/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/8.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Star Cluster in Nebula NGC 3603"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/9.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Thiên hà lùn NGC 4449</div>
            <div class="cbp-l-caption-desc">
              Cách Trái Đất khoảng 12 triệu năm ánh sáng trong chòm sao Chó Săn (Canes Venatici),
              thiên hà lùn NGC 4449 đang trải qua giai đoạn hình thành sao dữ dội.
              NGC 4449 thuộc dạng thiên hà không định hình với những cụm sao xanh rất trẻ rải rác trên những cánh tay bụi lỏng lẻo và không đều.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2007026a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/9.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Thiên hà lùn NGC 4449"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/10.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Thiên hà trẻ I Zwicky 18</div>
            <div class="cbp-l-caption-desc">
              I Zwicky 18 là thiên hà trẻ nhất chưa từng thấy trong vũ trụ. Thiên hà này xuất hiện cách đây chỉ 500 triệu năm
              và cách Trái Đất 45 triệu năm ánh sáng.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2007035b/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/10.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Thiên hà trẻ I Zwicky 18"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/11.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Tàn dư Siêu tân tinh N 63A</div>
            <div class="cbp-l-caption-desc">
              Trên thiên cầu, N-63A nằm trong chòm sao Kiếm Ngư, nằm cách thiên hà chúng ta khoảng 160,000 năm ánh sáng.
              Sóng xung kích từ vụ nổ supernova phá huỷ hoặc làm dịch chuyển các đám khí xung quanh ngôi sao, đồng thời tạo nên những đám khí bụi lớn có mật độ dày đặc.
              Những đám khí bụi dày đặc này lại có thể nén lại và tạo ra những ngôi sao mới.
            </div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2005015a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/11.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Tàn dư Siêu tân tinh N 63A"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<li class="cbp-item">
  <div class="cbp-item-wrapper">
    <div class="cbp-caption">
      <div class="cbp-caption-defaultWrap"><img src="<%= image_path("gallery/12.jpg") %>" alt="" /></div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignCenter">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Sợi truyền từ tinh vân N44C</div>
            <div class="cbp-l-caption-desc">Sợi truyền từ tinh vân N44C, một vùng khí hiđro phát sáng xung quanh liên kết của các ngôi sao trẻ trong thiên hà Đám mây Magellanic Lớn.
              Ngôi sao chịu trách nhiệm cho chiếu sáng của tinh vân luôn nóng bất thường..</div>
            <br />
            <a href="http://hubblesite.org/gallery/wallpaper/pr2002012a/" target="_blank" class="portfolioicons"><i class="fa fa-link"></i></a>
            <a href="<%= image_path("gallery/12.jpg") %>" class="cbp-lightbox portfolioicons" data-title="Sợi truyền từ tinh vân N44C"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>

</div>

</div><!-- end content area -->


<div class="clearfix margin_top5"></div>