<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Nhiệm vụ thăm dò</h1></div>

    <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="news.html">Tin tức</a>  <i>/</i> Nhiệm vụ thăm dò</div>

  </div>
</div><!-- end page title -->


<div class="clearfix margin_top7"></div>

<div class="container">

  <div class="one_full">

    <ul class="tabs" id="tabs_items">
      <li><a href="#demo-tab-1" target="_self">NASA's Messenger (Mercury)</a></li>
      <li><a href="#demo-tab-2" target="_self">NASA's Galileo (Jupiter)</a></li>
      <li><a href="#demo-tab-3" target="_self">NASA's Cassini Mission (Saturn)</a></li>
      <li><a href="#demo-tab-4" target="_self">NASA's Magellan (Venus)</a></li>
      <li><a href="#demo-tab-5" target="_self">NASA's Mars Recon. Orbiter (Mars)</a></li>

    </ul>

    <div class="tabs-content">

      <div id="demo-tab-1" class="tabs-panel">

        <h3>MESSENGER</h3>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ý nghĩa: </strong>MErcury Surface, Space ENvironment, GEochemistry and Ranging - Bề mặt Sao Thủy, môi trường không gian, địa hóa học và du hành</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày phóng: </strong>3 tháng 8 2004 06:15:56 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày lên quỹ đạo: </strong>18 tháng 3 2011 01:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Hành tinh thăm dò: </strong>Sao Thủy</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Mô tả: </strong> Tàu thăm dò <span class="highlight gray">MESSENGER</span> là một tàu vũ trụ của NASA
          với sứ mệnh mô tả đặc điểm hợp chất hóa học của bề mặt Sao Thủy, lịch sử địa chất, bản chất của từ trường, kích thước và trạng thái của lõi, tóm tắt
          linh hoạt tại các điểm cực, và bản chất của phần bên ngoài khí quyển và quyển từ với sứ mệnh trên quỹ đạo ảo trong vòng một năm Trái Đất.</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Liên kết: </strong></p>
        <p>1. <a href="http://messenger.jhuapl.edu/" target="_blank">MESSENGER Web Site</a><br>
          2. <a href="http://www.nasa.gov/mission_pages/messenger/main/" target="_blank">MESSENGER Mission Page</a><br>
          3. <a href="http://solarsystem.nasa.gov/missions/profile.cfm?MCode=MESSENGER" target="_blank">MESSENGER Mission Profile</a><br></p>

        <br><br>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>

          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= image_path("mission/MercuryMessenger_NASA4X3.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/MESSENGER_Instr.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/MESSENGER_Sunside.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/murchie05_lg.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/m09_PIA10187.jpg") %>" alt="" />
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div><!-- end tab 1 -->

      <div id="demo-tab-2" class="tabs-panel">

        <h3>Galileo</h3>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày phóng: </strong>1989-10-18 16:53:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày lên quỹ đạo: </strong>1995-12-08 01:20:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày hoàn thành sứ mệnh: </strong>2003-09-21 18:57:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Hành tinh thăm dò: </strong>Sao Mộc</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Mô tả: </strong> Tàu thăm dò <span class="highlight gray">Galileo</span> là tàu vũ trụ tự động của NASA gửi đến
          thăm dò và nghiên cứu hành tinh khổng lồ Sao Mộc và các vệ tinh của nó.</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Liên kết: </strong></p>
        <p>1. <a href="http://solarsystem.nasa.gov/galileo/" target="_blank">Galileo home page</a><br>
          2. <a href="http://solarsystem.nasa.gov/missions/profile.cfm?MCode=Galileo" target="_blank">Galileo Mission Profile</a></p>

        <br><br>
        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= image_path("mission/Galileo_encounter_with_Io.gif") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/galileo-probe.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/Jupiter_and_Galileo_by_adrian3Dart.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/jupitorProbe.jpg") %>" alt="" />
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div><!-- end tab 2 -->

      <div id="demo-tab-3" class="tabs-panel">

        <h3>Cassini–Huygens</h3>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày phóng: </strong>15 tháng 10 năm 1997 lúc 08:43 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày lên quỹ đạo: </strong>1 tháng 7 năm 2004</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Hành tinh thăm dò: </strong>Sao Thổ</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Mô tả: </strong> <span class="highlight gray">Cassini–Huygens</span> là một phi vụ tàu không gian robot hợp tác bởi NASA/ESA/ASI
          với nhiệm vụ nghiên cứu Sao Thổ và các vệ tinh tự nhiên của nó.</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Liên kết: </strong></p>
        <p>1. <a href="http://saturn.jpl.nasa.gov/index.cfm" target="_blank">Cassini-Huygens</a><br>
          2. <a href="http://www.esa.int/Our_Activities/Space_Science/Cassini-Huygens" target="_blank">Cassini-Huygens</a><br>
          3. <a href="http://sci.esa.int/cassini-huygens/" target="_blank">Huygens</a></p>

        <br><br>

        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= image_path("mission/12_2.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/Artist_s_impression_of_Cassini-Huygens_closing_in_on_Saturn.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/Cassini_Saturn_Orbit_Insertion.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/saturnsolareclipse.jpg") %>" alt="" />
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div><!-- end tab 3 -->

      <div id="demo-tab-4" class="tabs-panel">

        <h3>Magellan</h3>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày phóng: </strong>4 tháng 5 năm 1989 lúc 18:47:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày lên quỹ đạo: </strong>10 tháng 8 năm 1990</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày hoàn thành sứ mệnh: </strong>13 tháng 10 năm 1994 lúc 10:05:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Hành tinh thăm dò: </strong>Sao Kim</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Mô tả: </strong> Tàu thăm dò <span class="highlight gray">Magellan</span> là một tàu vũ trụ của NASA
          đã được phóng lên bởi tàu con thoi Atlantis với mục đích chủ yếu là chụp ảnh bề mặt sao Kim ở khoảng cách gần.</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Liên kết: </strong></p>
        <p>1. <a href="http://www2.jpl.nasa.gov/magellan/" target="_blank">Magellan homepage</a><br>
          2. <a href="http://nssdc.gsfc.nasa.gov/planetary/magellan.html" target="_blank">Magellan mission description and data</a><br>
          3. <a href="http://solarsystem.nasa.gov/missions/profile.cfm?MCode=Magellan" target="_blank">Magellan Mission Profile</a></p>

        <br><br>

        <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic3" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic3" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic3" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= image_path("mission/composite-46.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/mag2.gif") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/magellan_orbit.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/Magellan-Venus-Map.mediumthumb.jpg") %>" alt="" />
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div><!-- end tab 4 -->

      <div id="demo-tab-5" class="tabs-panel">

        <h3>Mars Reconnaissance Orbiter</h3>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày phóng: </strong>2005-08-12 11:43:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Ngày lên quỹ đạo: </strong>2006-03-10 21:24:00 UTC</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Hành tinh thăm dò: </strong>Sao Hỏa</p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Mô tả: </strong> <span class="highlight gray">Mars Reconnaissance Orbiter</span> là tàu vũ trụ có nhiều chức năng, được phóng lên
          để tìm hiểu về Sao Hỏa bằng cách quan sát tỷ mỷ, để kiếm nơi có thể hạ cánh trong các chuyến hạ xuống trong tương lai, và để chuyển tiếp tin nhanh cho các chuyến đó. </p>
        <p><i class="fa fa-chevron-circle-right"></i> <strong>Liên kết: </strong></p>
        <p>1. <a href="http://www.nasa.gov/mission_pages/MRO/main/index.html#.VG95BvmUffc" target="_blank">Mars Reconnaissance Orbiter Homepage</a><br>
          2. <a href="http://mars.jpl.nasa.gov/mro/" target="_blank">Mars Reconnaissance Orbiter Homepage</a><br>
          3. <a href="http://solarsystem.nasa.gov/missions/profile.cfm?MCode=Magellan" target="_blank">Mars Reconnaissance Orbiter Mission Profile</a></p>

        <br><br>


        <div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic4" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic4" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic4" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic4" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= image_path("mission/Mars_Reconnaissance_Orbiter2.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/mro_b.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/157415main_mro-front-view-browse.jpg") %>" alt="" />
            </div>
            <div class="item">
              <img src="<%= image_path("mission/mars_aerobrake.jpg") %>" alt="" />
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic4" role="button" data-slide="prev">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic4" role="button" data-slide="next">
            <span class="slide-right default" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div><!-- end tab 5 -->

    </div>

  </div>
</div>
<%= javascript_tag do %>
    $(function(){
    $('.myGallery').galleryView();
    });
<% end %>
<div class="clearfix margin_top4"></div>
